<div class="w-full">	
	<%= live_patch to: Routes.live_path(@socket, BoopityWeb.ShowPetLive, @pet.id) do %>
		<div class="shadow-lg">
			<h1 class="text-gray-800 font-semibold text-2xl"><%= @pet.name %></h1>
		</div>
	<% end %>
</div>